{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Password Reset Page {% endblock %}
{% block main %}

    <div class="row mt-5 pt-3">
        <div class="col-sm-12 col-md-8 offset-md-2 my-5 ">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-header my-2">Reset Password</h4>
                    <div class="aler alert-info p-3">Enter your email to recieve reset password link </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}